.Body {
  width: 70%;
  margin: auto;
  scroll-snap-align: start;
}

.Body__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.Body__col-left {
  width: 50%;
  opacity: 0;
  transition: all 0.5s linear;
  transform: translateY(100%);
}

.active .Body__col-left {
  opacity: 1;
  transform: translateY(0);
}

.Body__col-left figure img {
  width: 100%;
  opacity: 0;
  transition: all 0.6s linear;
  transform: rotate(90deg);
}

.active .Body__col-left figure img {
  opacity: 1;
  transform: rotate(0);
}

.Body__col-right {
  width: 50%;
  text-align: center;
}

.Body__col-right h4 {
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  margin-bottom: 7rem;
}

.Body__col-right h4 span {
  margin: 0 1rem;
}

.Body__col-right h1 {
  font-size: 4.5rem;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s linear;
  transform: translateY(20px);
}

.active .Body__col-right h1 {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 1200px) {
  .Body {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .Body {
    width: 90%;
  }

  .Body__row {
    flex-direction: column;
  }

  .Body__col-left {
    margin-bottom: 3rem;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
    transform: translateY(0);
  }

  .Body__col-left figure img {
    opacity: 1;
    transform: rotate(0);
  }

  .Body__col-right {
    width: 80%;
  }

  .Body__col-right h4 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .Body__col-right h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  .Body {
    width: 95%;
  }

  .Body__col-left {
    width: 90%;
  }

  .Body__col-right {
    width: 90%;
  }

  .Body__col-right h1 {
    font-size: 2rem;
  }
}
