.CustomCursor {
  z-index: 1001;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #fff;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  mix-blend-mode: difference;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
