.CustomCursor {
  z-index: 1000;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid rgb(58, 57, 57);
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}
